{{!-- Partial de Cabeçalho Reutilizável --}}
<div class="pdf-header">
  <div class="header-content">
    <div class="header-left">
      {{#if empresa}}
      <div class="empresa-info">
        <h1 class="empresa-nome">{{empresa.nome_fantasia}}</h1>
        {{#if empresa.razao_social}}
        <p class="empresa-razao-social">{{empresa.razao_social}}</p>
        {{/if}}
        {{#if empresa.cnpj}}
        <p class="empresa-cnpj">CNPJ: {{empresa.cnpj}}</p>
        {{/if}}
      </div>
      {{else}}
      <div class="empresa-info">
        <h1 class="empresa-nome">Alencar Frutas</h1>
      </div>
      {{/if}}
    </div>
    <div class="header-right">
      {{#if empresa}}
      <div class="empresa-contato">
        {{#if empresa.telefone}}
        <p class="empresa-telefone">{{empresa.telefone}}</p>
        {{/if}}
        {{#if empresa.logradouro}}
        <p class="empresa-endereco">
          {{empresa.logradouro}}{{#if empresa.bairro}}, {{empresa.bairro}}{{/if}}
        </p>
        <p class="empresa-cidade">
          {{empresa.cidade}}{{#if empresa.estado}} - {{empresa.estado}}{{/if}} {{#if empresa.cep}}| CEP: {{empresa.cep}}{{/if}}
        </p>
        {{/if}}
      </div>
      {{/if}}
    </div>
  </div>
  {{#if titulo}}
  <div class="header-title">
    <h2>{{titulo}}{{#if subtitulo}} - {{subtitulo}}{{/if}}</h2>
  </div>
  {{/if}}
</div>

