{{!-- Partial de Cabeçalho Reutilizável --}}
<div class="pdf-header">
  <div class="header-top">
    <!-- Logo à Esquerda -->
    <div class="header-logo">
      {{#if logoPath}}
      <img src="{{logoPath}}" alt="{{#if empresa}}{{empresa.nome_fantasia}}{{else}}Alencar Frutas{{/if}}" class="logo-img" />
      {{else}}
      <div class="logo-placeholder">
        <span class="logo-text">{{#if empresa}}{{empresa.nome_fantasia}}{{else}}Alencar Frutas{{/if}}</span>
      </div>
      {{/if}}
    </div>
    
    <!-- Nome da Empresa no Centro -->
    <div class="header-center">
      {{#if empresa}}
        <h1 class="empresa-nome">{{empresa.nome_fantasia}}</h1>
        {{#if empresa.razao_social}}
        <p class="empresa-razao-social">{{empresa.razao_social}}</p>
        {{/if}}
      {{else}}
        <h1 class="empresa-nome">Alencar Frutas</h1>
      {{/if}}
    </div>
    
    <!-- Qualificação da Empresa à Direita -->
    <div class="header-qualificacao">
      {{#if empresa}}
        {{#if empresa.cnpj}}
        <div class="qualificacao-item">
          <span class="qualificacao-value">{{empresa.cnpj}}</span>
        </div>
        {{/if}}
        {{#if empresa.telefone}}
        <div class="qualificacao-item">
          <span class="qualificacao-value">{{empresa.telefone}}</span>
        </div>
        {{/if}}
        {{#if empresa.logradouro}}
        <div class="qualificacao-item">
          <span class="qualificacao-value">
            {{empresa.logradouro}}{{#if empresa.bairro}}, {{empresa.bairro}}{{/if}}
          </span>
        </div>
        <div class="qualificacao-item">
          <span class="qualificacao-value">
            {{empresa.cidade}}{{#if empresa.estado}} - {{empresa.estado}}{{/if}}{{#if empresa.cep}} | {{empresa.cep}}{{/if}}
          </span>
        </div>
        {{/if}}
      {{/if}}
    </div>
  </div>
  
        {{!-- Título removido - agora é exibido no cabeçalho interno do pedido --}}
</div>

